movieDetail {
    height:100%;
    width:100%;

    .button-md{
        margin: 0 !important;
        height: inherit;
    }

    .flag-img{
        width:70% !important;
        height:70% !important;
        padding-left:5px;
    }

    .col {
        padding:0px !important;
    }

    .texts-col{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

}
